#loadImg{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	position:absolute; 
	z-index:1000; 
	display:none
}

legend {
    background: radial-gradient(50% 50%,lime, transparent);
    padding: 3px 6px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}

.table-caption-top caption {
  caption-side: top;
}
