# Исключить все файлы с расширение .db
*.db
*.xls?
*.json

# Исключить файлы:
conf.php
test.php

# Исключить файл TODO в корневом каталоге
/TODO

# Игнорировать все файлы в каталогах:
bd_bk/
templates/compile/*
